@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.myfont {
  font-family: var(--font-Montserrat);
}

/* Header */
/* Nav hover */
.myhover {
  @apply hover:text-sky-400 hover:scale-95 transition duration-300 cursor-pointer
}
/* mopile nav */
.close{
  clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
  transition: all 1s ease;
  position: fixed;
  z-index: 1000;
}
.open{
  clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
  transition: all 1s ease;
  position: fixed;
  z-index: 1000;
}

/* Light Mode */
.dark{
  background-color: rgba(15, 15, 15, 0.925);
  color: rgb(255, 254, 254);
}

/* Special Themes */
.dark .h1{
  color:rgb(254, 255, 254);
}
.Special{
  background-color: rgb(243, 243, 243);
}
.dark .Special{
  background-color: rgb(45, 45, 45);
}

/* sections */
/* Social Media Icons Style  */

.BtnHover{
  color: rgb(30, 188, 255);
  font-size: 22px;
  border-radius: 100%;
  cursor: pointer;
  padding: 3px;
  transition: all 0.3s ease;
  border: 1.5px solid transparent;
  align-items: center;
}
.BtnHover:hover{
  transform: scale(0.95);
  border: rgb(30, 188, 255) solid 1.5px;
}
.My_Hover{
  @apply flex px-5 py-1 mt-4 items-center rounded-3xl border-2 cursor-pointer font-serif font-semibold hover:scale-95 border-sky-400 transition-all duration-300 hover:bg-sky-500
}
.HiDiv {
  font-family: var(--font-Montserrat);
  padding: 4px 10px 4px 5%;
  align-items: center;
  box-shadow: 0 1 4 1 ;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 0.3s ease;
  border: rgb(68, 191, 244) solid 2px;
  color: rgb(68, 191, 244);
  opacity: 0;
}
.Photo:hover .HiDiv{
  opacity: 1;
  transform: translatex(-50px);
}
/* My Projects */
.Pimage2{
  transition: all 0.7s ease;
  opacity: 0,80;
}

.Pimage1:hover .Pimage2{
  transform: rotatey(90deg);
  opacity: 0;
}
/* Contact */
.Contact {
  padding: 8px 8px 12px 12px;
  border-radius: 4px;
  outline: none;
  border: rgb(30, 188, 255) solid 1px;
  color: rgb(30, 188, 255);
  font-size: 16px;
}

.MyShadow{
  @apply shadow-sky-700 shadow-[0px_1px_2px_0px] 
}