@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.myfont {
  font-family: var(--font-Montserrat);
}

/* Nav hover */
.myhover {
  @apply hover:text-sky-400 hover:scale-95 transition duration-300 cursor-pointer
}

/* mopile nav */
.close{
  clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
  transition: all 1s ease;
}
.open{
  clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
  transition: all 1s ease;
}

/* Light Mode */
.dark{
  background-color: rgba(10, 9, 9, 0.925);
  color: rgb(255, 254, 254);
}

/* Special Themes */
.dark .s1{
  color:rgb(254, 255, 254);
}
.dark .s2{
  background-color: rgb(24, 22, 22);
  color: black;
}